<div class="row center-md">
  {{#each team_members}}
  <div class="item col-md-{{../cols}}">
    <a href="{{link}}" title="{{name_esc}}"><img src="{{image}}" alt="{{name_esc}}"/></a>
    <h3><a href="{{link}}" title="{{name_esc}}">{{name}}</a></h3>
    <p class="tagline">{{tagline}}</p>
  </div>
  {{/each}}
</div>